*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    background-color: white;
    padding: 15px;
    
}
header>h1,img{
    display: inline-block;
    font-size: 35px;
    line-height: 100%;
    vertical-align: middle;
}


/* MAIN */
.button-add{
    border: 0.5px solid;
    border-color: rgb(211, 217, 222);
    border-radius: 7px;
    padding: 7px;
    font-weight: 500;
    
    
}

.add-content{
    margin-top: 5%;
    margin-bottom: 2px;
    height: 50px;
    padding-left: 2%;
    padding-top: 5px; 
}
.main-container{
    padding-bottom: 30px;
}





/* CLASSI GENERICHE */
/* Background-color */
.background-color-lightblue{
    background-color: #45abea;
}
.background-color-purple{
    background-color: #9c72e4;
}
.background-color-lightgreen{
    background-color: #64c0a9;
}
.background-color-orange{
    background-color: #f29e33;
}
.background-color-pink{
    background-color: #d863a1;
}
.background-color-green{
    background-color: #b0c926;
}
.background-color-white{
    background-color: white;
}

/* Color */
.color-white{
    color: white;
}
.color-lightgray{
    color: lightgrey;
}

/* Container della sezione main */
.container{
    background-color: white;
    border-radius: 5px;
    margin-left: 18%;
    margin-right: 18%;
}

.done{
    color: #72c7b4;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 3px solid #72c7b4;
    font-size: 0.7em;
}
.not-done{
    color: #ee6b63;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 3px solid #ee6b63;
    font-size: 0.7em;
}

.sticker{
    display: inline-block;
    color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.7em;

}

.section{
    padding-top: 30px;
}

.instruction{
    display: inline-block;
}
.task{
    margin-top: 13px;
    margin-bottom: 13px;
}